{{word}}
{{blanks}}
turns left {{turnsLeft}}
{{loseMsg}}
{{winMsg}}
{{errors}}
<form action="/guess" method="post">
  <input type="text" name="letterGuessed" />
  <input type="submit" name="submit" />
</form>
<a href="/logout">destroy session</a>
